[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
name = "luxcore26"
version = "0.0.1"

[tool.scikit-build]
cmake.verbose = true
logging.level = "INFO"
cmake.source-dir = "./LuxCore"
wheel.cmake = true

[tool.scikit-build.cmake.define]
OpenGL_GL_PREFERENCE= "LEGACY"

[[tool.scikit-build.overrides]]
if.platform-system = "linux"
cmake.args = ["-DLUXRAYS_CUSTOM_CONFIG=Config_Linux-Static", "-DPYTHON_V=3", "-DEMBREE_SEARCH_PATH=/usr/lib64"]
