# SPDX-FileCopyrightText: 2024 Howetuft
#
# SPDX-License-Identifier: Apache-2.0

[build-system]
requires = ["scikit-build-core"]
build-backend = "scikit_build_core.build"

[project]
name = "pyluxcore"
version = "2.9.alpha1"
dependencies = ["numpy<2"]
requires-python = ">=3.8"
license = {text = "Apache-2.0"}
authors = [{name="Howetuft"}]
# See https://pypi.org/classifiers/
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Development Status :: 7 - Inactive",
    "Operating System :: POSIX :: Linux",
    "Topic :: Multimedia :: Graphics :: 3D Rendering",
]
readme = "./LuxCore/README.md"
keywords = ["raytracing", "ray tracing", "rendering", "pbr", "path tracing"]

[project.urls]
Homepage = "https://luxcorerender.org/"
Repository = "https://github.com/LuxCoreRender/LuxCore"

[tool.scikit-build]
logging.level = "DEBUG"
cmake.verbose = true
cmake.source-dir = "./LuxCore"
cmake.targets = ["pyluxcore"]
cmake.build-type = "Release"
wheel.cmake = true
wheel.packages = [
  "./LuxCore/pywheel",
]

[tool.scikit-build.cmake.define]
OpenGL_GL_PREFERENCE = "LEGACY"

[[tool.scikit-build.overrides]]
if.platform-system = "linux"
cmake.args = [
  "-DLUXRAYS_CUSTOM_CONFIG=Config_Linux-Wheel",
  "-DCMAKE_C_COMPILER_LAUNCHER=sccache",
  "-DCMAKE_CXX_COMPILER_LAUNCHER=sccache",
  "-DCMAKE_VERBOSE_MAKEFILE=ON",
  "-DCMAKE_POSITION_INDEPENDENT_CODE=ON",
]

[[tool.scikit-build.overrides]]
if.platform-system = "win32"
cmake.args = [
  "-DLUXRAYS_CUSTOM_CONFIG=Config_Windows",
  "-DCMAKE_VERBOSE_MAKEFILE=ON",
]

# For convenience, all cibuildwheel settings are located in github workflow
