# SPDX-FileCopyrightText: 2024 Howetuft
#
# SPDX-License-Identifier: Apache-2.0

name: Build

on: [push, pull_request]

permissions:
  id-token: write # Important for at least docker gha cache
  contents: read

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-minor: ['8', '9', '10', '11', '12']
        # os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest]
    env:
      SCCACHE_GHA_ENABLED: "true"
      boost_dir: ${{github.workspace}}\boost
      boost_version: 1.78.0

    steps:
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Checkout repository and submodule(s)
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure sccache
        uses: actions/github-script@v7
        with:
          script: |
            core.exportVariable('ACTIONS_CACHE_URL', process.env.ACTIONS_CACHE_URL || '');
            core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
            core.exportVariable('SCCACHE_GHA_ENABLED', 'on');
            core.exportVariable('SCCACHE_DIRECT', 'on');

      - name: Set up sccache
        uses: mozilla-actions/sccache-action@v0.0.5
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.${{ matrix.python-minor }}
          cache: 'pip'  # Caching pip dependencies
      
          
      # Build boost python and numpy
      - name: Cache Boost
        uses: actions/cache@v2
        with:
          path: '${{ runner.workspace }}/boost_*.tar.gz'
          key: 'boost-${{env.boost_version}}'
      
      - name: Build Boost
        id: boost
        uses: egor-tensin/build-boost@v1
        if: ${{ matrix.os }} = "windows-latest"
        with:
          version: ${{ env.boost_version }}
          libraries: python
          platform: x64
          configuration: Release
          static: 1
          toolset: vs2022
          directory: ${{ env.boost_dir }}
          
      - name: Show build Boost paths
        if: ${{ matrix.os }} = "windows-latest"
        run: |
          printf 'Boost has been unpacked to: %s\n' '${{ steps.boost.outputs.root }}'
          printf 'Libraries can be found here: %s\n' '${{ steps.boost.outputs.librarydir }}'
        shell: bash


      # Install Boost libs, except python and numpy
      - name: Install boost
        uses: MarkusJx/install-boost@v2.4.5
        id: install-boost
        if: ${{ matrix.os }} = "windows-latest"
        with:
            # REQUIRED: Specify the required boost version
            # A list of supported versions can be found here:
            # https://github.com/MarkusJx/prebuilt-boost/blob/main/versions-manifest.json
            boost_version: 1.78.0
            platform_version: 2022
            toolset: msvc
            link: static
            # NOTE: If a boost version matching all requirements cannot be found,
            # this build step will fail
            

 

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.19.2

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD_FRONTEND: build
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BUILD: cp3${{ matrix.python-minor }}-*
          CIBW_SKIP: "*musllinux*"
          CIBW_ARCHS: auto64
          CIBW_ENVIRONMENT_PASS_LINUX: |
            SCCACHE_GHA_ENABLED
            SCCACHE_DIRECT
            ACTIONS_CACHE_URL
            ACTIONS_RUNTIME_TOKEN
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_BEFORE_ALL_LINUX: source /project/scripts/before_all_linux.sh
          CIBW_ENVIRONMENT_WINDOWS: >
            CMAKE_INCLUDE_PATH=${{ github.workspace }}\WindowsCompileDeps\include
            CMAKE_LIBRARY_PATH=${{ github.workspace }}\WindowsCompileDeps\x64\Release\lib
            CMAKE_PREFIX_PATH=${{ github.workspace }}\WindowsCompileDeps"
            PYTHON_V="3.${{ matrix.python-minor }}"
            Boost_INCLUDE_DIR=${{steps.install-boost.outputs.BOOST_ROOT}}\include
            Boost_LIBRARY_DIRS=${{steps.install-boost.outputs.BOOST_ROOT}}\lib
            BOOST_ROOT=${{ steps.install-boost.outputs.BOOST_ROOT }}


      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
