# SPDX-FileCopyrightText: 2024 Howetuft
#
# SPDX-License-Identifier: Apache-2.0

name: LuxCore Python wheels

on: [push, pull_request]

#permissions:
#  id-token: write # Important for at least docker gha cache
#  contents: write

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-minor: ['8', '9', '10', '11', '12']
        # os: [ubuntu-latest, windows-latest, macos-13, macos-14]
        os: [windows-latest]
    env:
      BOOST_VERSION: 1.85.0
      SPDLOG_VERSION: 1.14.1
      GH_TOKEN: ${{ github.token }}
      SCCACHE_GHA_ENABLED: on
      SCCACHE_DIRECT: on
      # Indicates the location of the vcpkg as a Git submodule of the project repository.
      # Not using "VCPKG_ROOT" because a variable with the same name is defined in the VS's
      # Developer Command Prompt environment in VS 2022 17.6, which would override this one 
      # if it had the same name.
      _VCPKG_: ${{ github.workspace }}/vcpkg
      # Tells vcpkg where binary packages are stored.
      VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg/bincache
      # Let's use GitHub Action cache as storage for the vcpkg Binary Caching feature.
      VCPKG_BINARY_SOURCES: 'clear;x-gha,readwrite'

    steps:

      - name: Checkout repository and submodule(s)
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.${{ matrix.python-minor }}'

      - name: Prepare Python deps for Windows
        if: ${{ runner.os }} == "Windows"
        uses: ./.github/actions/windows-python-deps
        with:
          job-id: ${{ matrix.os }}-${{ matrix.python-minor }}

      - name: Clean source tree for Windows
        if: ${{ runner.os }} == "Windows"
        uses: ./.github/actions/windows-clean-tree


      #- name: Setup tmate session
      #  uses: mxschmitt/action-tmate@v3

      - name: Setup sccache
        if: ${{ runner.os }} == "Windows"
        id: sccache
        uses: mozilla-actions/sccache-action@v0.0.5
      
      - name: Oidn overlay
        id: oidn-overlay
        env:
          oidn_version: "2.3.0"
          oidn_vcpkg: >
            {
              "name": "oidn",
              "version": "$oidn_version",
              "port-version": 1,
              "features": {},
              "dependencies": [
                {
                  "name": "vcpkg-cmake",
                  "host": true
                },
                {
                  "name": "vcpkg-cmake-config",
                  "host": true
                }
              ]
            }

          oidn_portfile: |
            message(STATUS "Running oidn portfile")
            mkdir ${{ github.workspace }}/oidn
            cd ${{ github.workspace }}/oidn
            vcpkg_download_distfile(
              download_path
              URLS https://github.com/RenderKit/oidn/releases/download/v${oidn_version}/oidn-${oidn_version}.x64.windows.zip
              FILENAME oidn-${{ matrix.python-minor }}.zip
              SKIP_SHA512 True  # TODO
            )
            vcpkg_extract_source_archive(
              oidn_path
              ARCHIVE download_path
            )
            vcpkg_cmake_configure(SOURCE_PATH "${oidn_path}")
            vcpkg_cmake_config_fixup(
              PACKAGE_NAME "oidn"
            )
            vcpkg_cmake_install()

          oidn_cmakelists: |
            project(oidn)
            message(STATUS "Running oidn CMakeLists")
            set(oidn_root "${oidn_workspace}/oidn-${oidn_version}.x64.windows")
            message("Installing oidn at ${oidn_root}")

            install(
              DIRECTORY ${oidn_root}/bin
              TYPE BIN
            )
            install(
              DIRECTORY ${oidn_root}/include
              TYPE INCLUDE
            )
            install(
              DIRECTORY ${oidn_root}/lib
              TYPE LIB
            )
        run: |
          echo "$oidn_vcpkg" > vcpkg.json
          echo "$oidn_portfile" > portfile.cmake
          echo "$oidn_cmakelists" > CMakeLists.txt
        shell: bash

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.19.2

      - name: Install Ninja
        if: ${{ runner.os }} = "Windows"
        uses: seanmiddleditch/gha-setup-ninja@master
      
      #- name: Setup msvc
      #  if: ${{ runner.os }} = "Windows"
      #  uses: TheMrMilchmann/setup-msvc-dev@v3
      #  with:
      #    arch: x64

      # vcpkg stuff
      - name: "Create directory '${{ env.VCPKG_DEFAULT_BINARY_CACHE }}'"
        run: mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
        shell: bash

      # Setup the build machine with the most recent versions of CMake and Ninja. Both are cached if not already: on subsequent runs both will be quickly restored from GitHub cache service.
      # https://github.com/lukka/run-vcpkg
      - uses: lukka/get-cmake@latest

      # Copy CMakePresets to project
      - name: "Install CMakePresets.json and vcpkg.json"
        working-directory: '${{ github.workspace }}'
        run: |
          cp vcpkg.json LuxCore
          cp CMakePresets.json LuxCore
        shell: bash

      # Restore vcpkg from the GitHub Action cache service. Note that packages are restored by vcpkg's binary caching
      # when it is being run afterwards by CMake.
      - name: Restore vcpkg
        uses: actions/cache@v4
        with:
          # The first path is the location of vcpkg: it contains the vcpkg executable and data files, as long as the
          # built package archives (aka binary cache) which are located by VCPKG_DEFAULT_BINARY_CACHE env var.
          # The other paths starting with '!' are exclusions: they contain termporary files generated during the build of the installed packages.
          path: |
            ${{ env._VCPKG_ }}
            !${{ env._VCPKG_ }}/buildtrees
            !${{ env._VCPKG_ }}/packages
            !${{ env._VCPKG_ }}/downloads
            !${{ env._VCPKG_ }}/installed
          # The key is composed in a way that it gets properly invalidated whenever a different version of vcpkg is being used.
          key: |
            ${{ hashFiles( '.git/modules/vcpkg/HEAD' )}}

      # On Windows runners, let's ensure to have the Developer Command Prompt environment setup correctly.
      # As used here the Developer Command Prompt created is targeting x64 and using the default the Windows SDK.
      - uses: ilammy/msvc-dev-cmd@v1


      # Build wheel
      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          SCCACHE_GHA_ENABLED: "true"
          CIBW_BUILD_FRONTEND: build
          CIBW_BUILD_VERBOSITY: 1
          CIBW_BUILD: cp3${{ matrix.python-minor }}-*
          CIBW_SKIP: "*musllinux*"
          #CIBW_ARCHS: auto64
          CIBW_ENVIRONMENT_PASS_LINUX: |
            SCCACHE_GHA_ENABLED
            SCCACHE_DIRECT
            ACTIONS_CACHE_URL
            ACTIONS_RUNTIME_TOKEN
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_28
          CIBW_BEFORE_ALL_LINUX: source /project/scripts/before_all_linux.sh
          CIBW_ENVIRONMENT_WINDOWS: >-
            CMAKE_INCLUDE_PATH='${{ env.WINDOWS_DEPS }}\include'
            CMAKE_LIBRARY_PATH='${{ env.WINDOWS_DEPS }}\x64\Release\lib;${{ steps.boost.outputs.librarydir }}'
            CMAKE_PREFIX_PATH='${{ env.WINDOWS_DEPS }}'
            CMAKE_BUILD_TYPE='Release'
            CMAKE_BUILD_PARALLEL_LEVEL='4'
            BOOST_ROOT='${{ steps.boost.outputs.root }}'
            BOOST_LIBRARYDIR='${{ steps.boost.outputs.librarydir }}'
            CXXFLAGS='-DBOOST_NO_CXX11_SCOPED_ENUMS -DBOOST_FILESYSTEM_VERSION=3'
            CFLAGS='-DXML_STATIC'
            CMAKE_CXX_COMPILER_LAUNCHER=sccache
            CMAKE_C_COMPILER_LAUNCHER=sccache
            SCCACHE_C_CUSTOM_CACHE_BUSTER='3.${{ matrix.python-minor }}'
            SCCACHE_LOG='debug'
            SCCACHE_ERROR_LOG='${{ github.workspace }}\sccache.log'
            SCCACHE_CONF='${{ github.workspace }}\sccache_config'
            SCCACHE_DIRECT='true'
            SKBUILD_CMAKE_ARGS='--preset=windows;-G Ninja'
            PYTHON_V=''
          CIBW_BEFORE_BUILD_WINDOWS: dir ${{ steps.boost.outputs.root }} && echo %SCCACHE_GHA_ENABLED% && dir D:\a\LuxCoreWheel\LuxCoreWheel

      # Upload sccache log (debug)
      #- uses: actions/upload-artifact@v4
      #  if: always()
      #  with:
      #    name: sccache_${{ matrix.python-minor }}
      #    path: '${{ github.workspace }}\sccache.log'
      - name: boost python log 
        run: |
          cat D:\a\LuxCoreWheel\LuxCoreWheel\vcpkg\buildtrees\boost-python\config-x64-windows-release-out.log
          cat D:\a\LuxCoreWheel\LuxCoreWheel\vcpkg\buildtrees\boost-python\install-x64-windows-release-rel-out.log
          cat D:\a\LuxCoreWheel\LuxCoreWheel\vcpkg\buildtrees\boost-python\install-x64-windows-release-rel-err.log
        shell: cmd
        if: always()

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
